
<div class='portfolio_container'>
  <div class='left_pane'>
    <div class='upper_nav'>
      <div class='upper_nav_menu'>
      ABOUT 
      CONTACT
      AVAILBILITY
      </div>
    </div>
    <div class='title'>
      HUGH SHERMAN
    </div>
    <div class='nav_box'>
      <div class='nav_menu'>
        PHOTOS
      </div>
      <div class='nav_menu'>
        VIDEOS
      </div>
    </div>
  </div>
  <div class='right_pane'>
  </div>
</div>